<div id="service">
  <div class="container sub-section">
    <div class="row centered">
      <% @subjects.each do |sub| %>
        <div class="col-md-4">
          <%= image_tag sub.image_url, class: "img-responsive" %>
          <h4><%= sub.name%></h4>
          <%= link_to "More Info", sub, class: "btn btn-theme"%>
          <div class="row-divider"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="cwrap">
  <div class="container">
    <div class="row centered">
      <h3>OUR CLIENTS</h3>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <%= image_tag "clients/client01.png", class: "img-responsive" %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <%= image_tag "clients/client02.png", class: "img-responsive" %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <%= image_tag "clients/client03.png", class: "img-responsive" %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <%= image_tag "clients/client04.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>