<div id="service">
  <div class="container sub-section">
    <div class="row centered">
      <div class="col-md-4">
        <%= image_tag "cloud.jpg", class: "img-responsive" %>
        <h4>Cloud Computing</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
      </div>
      <div class="col-md-4">
        <%= image_tag "wtech.png", class: "img-responsive" %>
        <h4>Web Techonology</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
      </div>
      <div class="col-md-4">
        <%= image_tag "os.jpg", class: "img-responsive" %>
        <h4>Operating System</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
      </div>
    </div>
  </div>
</div>
<div id="portfoliowrap">
  <h3>LATEST WORKS</h3>
  <div class="portfolio-centered">
    <div class="recentitems portfolio">
      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <%= image_tag "portfolio/portfolio_09.jpg" %>
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item
              </h3>
              <a data-rel="prettyPhoto" href="assets/portfolio/portfolio_09.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->
      <div class="portfolio-item web-design">
        <div class="he-wrap tpl6">
          <%= image_tag "portfolio/portfolio_02.jpg" %>
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Web Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/portfolio/portfolio_02.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->
      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <%= image_tag "portfolio/portfolio_03.jpg" %>
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/portfolio/portfolio_03.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->
      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <%= image_tag "portfolio/portfolio_04.jpg" %>
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/portfolio/portfolio_04.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->
      <div class="portfolio-item books">
        <div class="he-wrap tpl6">
          <%= image_tag "portfolio/portfolio_05.jpg" %>
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Book Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/portfolio/portfolio_05.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <%= image_tag "portfolio/portfolio_06.jpg" %>
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/portfolio/portfolio_06.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item books">
        <div class="he-wrap tpl6">
          <%= image_tag "portfolio/portfolio_07.jpg" %>
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Book Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/portfolio/portfolio_07.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <%= image_tag "portfolio/portfolio_08.jpg" %>
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/portfolio/portfolio_08.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item web-design">
        <div class="he-wrap tpl6">
          <%= image_tag "portfolio/portfolio_01.jpg" %>
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">A Web Design Item</h3>
              <a data-rel="prettyPhoto" href="assets/portfolio/portfolio_01.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
              <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
      </div><!-- end col-12 -->

      <div class="portfolio-item books">
        <div class="he-wrap tpl6">
        <%= image_tag "portfolio/portfolio_10.jpg" %>
        <div class="he-view">
          <div class="bg a0" data-animate="fadeIn">
            <h3 class="a1" data-animate="fadeInDown">A Book Design Item</h3>
            <a data-rel="prettyPhoto" href="assets/portfolio/portfolio_10.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
            <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
          </div><!-- he bg -->
        </div><!-- he view -->
      </div><!-- he wrap -->
    </div><!-- end col-12 -->

  </div><!-- portfolio -->
</div><!--/Portfoliowrap -->

<div id="cwrap">
  <div class="container">
    <div class="row centered">
      <h3>OUR CLIENTS</h3>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <%= image_tag "clients/client01.png", class: "img-responsive" %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <%= image_tag "clients/client02.png", class: "img-responsive" %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <%= image_tag "clients/client03.png", class: "img-responsive" %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <%= image_tag "clients/client04.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>


<script>
// Portfolio
(function($) {
    "use strict";
    var $container = $('.portfolio'),
    $items = $container.find('.portfolio-item'),
    portfolioLayout = 'fitRows';

    if( $container.hasClass('portfolio-centered') ) {
     portfolioLayout = 'masonry';
  }

  $container.isotope({
    filter: '*',
    animationEngine: 'best-available',
    layoutMode: portfolioLayout,
    animationOptions: {
      duration: 750,
      easing: 'linear',
      queue: false
    },
    masonry: {
    }
  }, refreshWaypoints());

  function refreshWaypoints() {
    setTimeout(function() {
    }, 1000);
  }

  $('nav.portfolio-filter ul a').on('click', function() {
    var selector = $(this).attr('data-filter');
    $container.isotope({ filter: selector }, refreshWaypoints(  ));
    $('nav.portfolio-filter ul a').removeClass('active');
    $(this).addClass('active');
    return false;
  });

  function getColumnNumber() {
    var winWidth = $(window).width(),
    columnNumber = 1;

    if (winWidth > 1200) {
      columnNumber = 5;
    } else if (winWidth > 950) {
      columnNumber = 4;
    } else if (winWidth > 600) {
      columnNumber = 3;
    } else if (winWidth > 400) {
      columnNumber = 2;
    } else if (winWidth > 250) {
      columnNumber = 1;
    }
    return columnNumber;
  }

  function setColumns() {
    var winWidth = $(window).width(),
    columnNumber = getColumnNumber(),
    itemWidth = Math.floor(winWidth / columnNumber);

    $container.find('.portfolio-item').each(function() {
     $(this).css( {
       width : itemWidth + 'px'
     });
   });
  }

  function setPortfolio() {
    setColumns();
    $container.isotope('reLayout');
  }

  $container.imagesLoaded(function () {
    setPortfolio();
  });

  $(window).on('resize', function () {
    setPortfolio();
  });
  })(jQuery);
</script>